[submodule "modules/google_cast"]
	path = modules/google_cast
	url = https://moroc@tools-src.com/pt/android/google_cast.git
	branch = master
[submodule "core"]
	path = core
	url = https://moroc@tools-src.com/pt/android/connect-sdk-core.git
	branch = master
[submodule "modules/firetv"]
	path = modules/firetv
	url = https://github.com/ConnectSDK/Connect-SDK-Android-FireTV.git
    branch = master
